@import './utils/variables.sass'

*, body
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Poppins', sans-serif

.container
  padding: 15px 20px
  margin: 0 auto
  max-width: 1240px
  height: 100%
  position: relative

.active-link
  padding-bottom: 0.2em
  color: $mainColor !important
  font-weight: 600
  border-bottom: 2px solid $mainColor

//components
@import './components/Header/Header.sass'
@import './components/Table/Table.sass'
//pages
@import './pages/MainPage/MainPage.sass'
